USE [master]
GO
/****** Object:  Database [VentasDB]    Script Date: 30/11/2020 02:38:58 ******/
CREATE DATABASE [VentasDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ventas', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Ventas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Ventas_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Ventas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VentasDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VentasDB]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 30/11/2020 02:38:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[IdVenta] [int] NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
